<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td scope="col">SUN
          <br>
          <p *ngFor="let sun of day.sun">
            <img [src]="sun.photo" height="50%" width="50%" />
            <br> {{ sun.name }}</p>
        </td>
        <td scope="col">MON
          <br>
          <p *ngFor="let mon of day.mon">
            <img [src]="mon.photo" height="50%" width="50%" />
            <br> {{ mon.name }}</p>
        </td>
        <td scope="col">TUE
          <br>
          <p *ngFor="let tue of day.tue">
            <img [src]="tue.photo" height="50%" width="50%" />
            <br> {{ tue.name }}</p>
        </td>
        <td scope="col">WED
          <br>
          <p *ngFor="let wed of day.wed">
            <img [src]="wed.photo" height="50%" width="50%" />
            <br> {{ wed.name }}</p>
        </td>
        <td scope="col">THU
          <br>
          <p *ngFor="let thu of day.thu">
            <img [src]="thu.photo" height="50%" width="50%" />
            <br> {{ thu.name }}</p>
        </td>
        <td scope="col">FRI
          <br>
          <p *ngFor="let fri of day.fri">
            <img [src]="fri.photo" height="50%" width="50%" />
            <br> {{ fri.name }}</p>
        </td>
        <td scope="col">SAT
          <br>
          <p *ngFor="let sat of day.sat">
            <img [src]="sat.photo" height="50%" width="50%" />
            <br> {{ sat.name }}</p>
        </td>
    </thead>
  </table>
</div>